.button {
  border: none;
  background-color: $accent-color;
  color: $text-button;
  width: 100%;
  max-width: 360px;
  line-height: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.button__text {
  font-family: $font-first;
  font-size: 15px;
  font-weight: 700;
}
