.drainage-systems {
  padding-top: 50px;
  padding-bottom: 50px;
}

.drainage-systems__wrap {
  @include wrapper-mob;
}

.drainage-systems__list {
  @include clear-list;
}

.drainage-systems__title {
  margin-bottom: 30px;
}

.drainage-systems__accent {
  color: $accent-color;
}

@media (min-width: $tablet-width) {
  .drainage-systems {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  .drainage-systems__wrap {
    @include wrapper-tablet;
  }

  .drainage-systems__title {
    margin-bottom: 40px;
  }

  .drainage-systems__list--card {
    width: 700px;
    margin-bottom: 50px;

    img {
      width: 700px;
      height: 400px;
    }

    p {
      margin-bottom: 25px;
    }
  }

  .drainage-systems__list--card:nth-child(2) {
    img {
      background-position: center;
    }
  }
}
