.offer {
  position: relative;
  padding-top: 28px;
  padding-bottom: 386px;

  &::before {
    position: absolute;
    content: "";
    width: 428px;
    height: 361px;
    left: -117px;
    top: -72px;
    background-image: url('../img/rounds.svg');
  }

  &::after {
    position: absolute;
    content: "";
    width: 290px;
    height: 299px;
    left: 0;
    bottom: 42px;
    background-image: url('../img/main-image.png');
    background-repeat: no-repeat;
  }
}

.offer__title {
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 26px;
  color: $main-color;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  margin-bottom: 18px;
}

.offer__title-accent {
  color: $accent-color;
}

.offer__description {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 29px;
  font-weight: 400;
}
