.ventilation {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $background-color;
}

.ventilation__wrap {
  @include wrapper-mob;
}

.ventilation__list {
  @include clear-list;
}

.ventilation__list--card {
  display: flex;
  flex-direction: column;
  margin-bottom: 0;

  img {
    margin-bottom: 0;
  }

  .h3 {
    margin-bottom: 15px;
  }

  .card__description {
    order: -1;
    margin-bottom: 30px;
  }
}
