// fonts
$font-first: 'Montserrat', Arial, sans-serif;
$font-second: 'Inter', Arial, sans-serif;

$text-color: #747474;

$basic-white: #ffffff;
$main-color: #43442f;
$tech-color: #393930;

$tablet-width: 768px;
$desktop-width: 1200px;
